* {box-sizing: border-box;}

 body {
    padding: 0;
    margin: 0;
}
  
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
}

aside {
    float: right;
    width: 300px;
    background-color: #080840;
    height: 100px;
}

@media (min-width: 991px) {
    .menu-container {
/*        position: fixed; */
        top: 0;
        width: 100%;
        opacity: 100%;
        background-color: #444;
        clear: both;
    }
    .menu-content {
        position: relative;
        max-width: 800px;
        width: 100%;
        margin: 5px auto;
        display: block;
        opacity: 100%;
    }
    .list-menu {
        display: flex!important;
        justify-content: space-between;
        width: 100%;
        background: #fff;
        box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }
    .item-menu {
        flex: auto;
    }
    .item-menu .link-menu {
        padding: 15px;
        color: #555;
        display: block;
        transition: .4s;
        cursor: pointer;
        text-align: center;
    }
    .item-menu .link-menu:hover {
        background: #545bc4;
        color: #fff;
    }
    .navegacao-mobile {
        display: none!important;
    }
}
  
.navegacao-mobile {
    background: #ccc;
    padding: 10px;
    display: block;
    width: 53px;
    cursor: pointer;
}

.linha-menu {
    width: 25px;
    height: 3px;
    border-radius: 5px;
    background: #555;
    margin: 4px;
    display: block;
}

.input-menu-all {
    display: none!important;
}

.list-menu {
    display: none;
     width: 100%;
     background: #fff;
     box-shadow: 2px 9px 49px -17px rgba(0, 0, 0, 0.3);
}

.item-menu {
    flex: auto;
}

.item-menu .link-menu {
    padding: 15px;
    color: #555;
    display: block;
    transition: .4s;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.input-menu-all:checked ~ .list-menu {
    display: block;      
}
.input-menu-all:checked ~ .list-menu .link-menu  {
    text-align: left;
}

.barralateral {
    position: relative;
    margin: 0;
    padding: 0;
    padding-top: 5em;
    height: auto;
    width: 20%;
    overflow-y: auto;
    text-decoration: none;
    color:#fff;
    background-color: #080830;
}

.div-principal {
    margin: 0;
    padding: 0;
    width: 80%;
    height: fit-content;
    right: 0%;
}

.nav-item {
    margin-top:40px;
}

#nav-side {
    position: fixed;
    width: 300px;
    height: 70%;
    overflow-y: auto;
    font-weight: bolder;
}

/*    
    background-color: #555; 
*/