/* 	
	*** Modelo de arquivo de formatação web CSS.
	*** Desenvolvido por Fábio de Almeida Martins.
*/

/* Cor da fonte e do fundo de tela do site */
body 							{color: #FFF; background-color: #101010;}
#body 							{}
main 							{}
section 						{}
.corpodetexto 					{color: #FFF;}
.rodape							{color: #0F0;}
.imgdescr 						{color: #FFF;}
.numero 						{color: #FFF;}
.tabela 						{color: #FFF;}
.titulo 						{color: #FFF;}
.titulo1 						{color: #0F0;}
.destaque 						{color: #0F0;}

/* Cores de fundo e bordas dos elementos */
table 							{border: solid 1px #FFF; background-color: #000;}
fieldset 						{border: solid 1px #FFF; background-color: #000;}
.divconteudo                    {}
.containercolunas 				{}
